In [4]:
# import libraries
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [7]:
fd = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Types-Of-Cross-Validation/main/cancer_dataset.csv')
df = fd.copy()
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,NaN
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902,NaN
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758,NaN
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,NaN
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,NaN

In [8]:
df.isnull().sum()

id                           0
diagnosis                    0
radius_mean                  0
texture_mean                 0
perimeter_mean               0
area_mean                    0
smoothness_mean              0
compactness_mean             0
concavity_mean               0
concave points_mean          0
symmetry_mean                0
fractal_dimension_mean       0
radius_se                    0
texture_se                   0
perimeter_se                 0
area_se                      0
smoothness_se                0
compactness_se               0
concavity_se                 0
concave points_se            0
symmetry_se                  0
fractal_dimension_se         0
radius_worst                 0
texture_worst                0
perimeter_worst              0
area_worst                   0
smoothness_worst             0
compactness_worst            0
concavity_worst              0
concave points_worst         0
symmetry_worst               0
fractal_dimension_worst      0
Unnamed: 32                569
dtype: int64

In [9]:
df.drop('Unnamed: 32',axis=1,inplace=True)

In [10]:
df.isnull().sum()

id                         0
diagnosis                  0
radius_mean                0
texture_mean               0
perimeter_mean             0
area_mean                  0
smoothness_mean            0
compactness_mean           0
concavity_mean             0
concave points_mean        0
symmetry_mean              0
fractal_dimension_mean     0
radius_se                  0
texture_se                 0
perimeter_se               0
area_se                    0
smoothness_se              0
compactness_se             0
concavity_se               0
concave points_se          0
symmetry_se                0
fractal_dimension_se       0
radius_worst               0
texture_worst              0
perimeter_worst            0
area_worst                 0
smoothness_worst           0
compactness_worst          0
concavity_worst            0
concave points_worst       0
symmetry_worst             0
fractal_dimension_worst    0
dtype: int64

In [15]:
x = df.iloc[:,2:] # all rows from the second column
y = df.iloc[:,1] # first column all the rows

In [16]:
# KFOLD

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score
k = KFold(5)
model = LogisticRegression()

In [18]:
np.mean(cross_val_score(model,x,y, cv = k))

0.9437820214252446

In [19]:
model = LogisticRegression()
arr = [2,3,4,5,6]
for i in arr:
    k = KFold(i)
    result = cross_val_score(model,x,y,cv=k)
    print(f'when k={i}',np.mean(result))

when k=2 0.926223128243143
when k=3 0.9472755963984034
when k=4 0.9350315177779966
when k=5 0.9437820214252446
when k=6 0.9402388951101157

In [12]:
from sklearn.model_selection import StratifiedKFold, cross_val_score
k = StratifiedKFold(n_splits=5)
result = cross_val_score(model,x,y,cv=k)
np.mean(result)

0.947290793355069

In [20]:
## LOO(Leave One Out) CV
from sklearn.model_selection import LeaveOneOut
lc = LeaveOneOut()
result = cross_val_score(model,x,y,cv=lc)

In [14]:
np.mean(result)

0.9472759226713533

# HYPER-PARAMETER TUNING

In [25]:
from sklearn import svm, datasets
iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [26]:
df['target'] = iris.target
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [23]:
df['target'] = df['target'].apply(lambda x : iris.target_names[x])
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [27]:
# Tuning
kernels = ['rbf','linear']
C = [1,10,30,20]
avg_scores={}
for kval in kernels:
    for cval in C:
        cv_score = cross_val_score(svm.SVC(kernel= kval, C= cval,gamma='auto'),iris.data,iris.target, cv=5)
        avg_scores[kval + '_' + str(cval)] = np.mean(cv_score)

In [29]:
avg_scores

{'rbf_1': 0.9800000000000001,
 'rbf_10': 0.9800000000000001,
 'rbf_30': 0.96,
 'rbf_20': 0.9666666666666668,
 'linear_1': 0.9800000000000001,
 'linear_10': 0.9733333333333334,
 'linear_30': 0.96,
 'linear_20': 0.9666666666666666}

In [30]:
from sklearn.model_selection import GridSearchCV
clf = GridSearchCV(svm.SVC(gamma='auto'),{'C':[1,5,7,10],'kernel':['rbf','linear','sigmoid','poly'],
                                         'max_iter':[1,5,8,10,20]},cv=10)
clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.0654433 , 0.00419595, 0.00160346, 0.00426705, 0.00395234,
        0.00056319, 0.00106704, 0.00290384, 0.        , 0.00217772,
        0.00156841, 0.0028127 , 0.00097053, 0.00156353, 0.00569775,
        0.00160189, 0.00159791, 0.00089328, 0.0028131 , 0.00165114,
        0.00217171, 0.00112753, 0.00080738, 0.00190566, 0.00159171,
        0.00126886, 0.00225461, 0.00160434, 0.0021935 , 0.        ,
        0.00214803, 0.00171018, 0.00276606, 0.00286331, 0.00079973,
        0.        , 0.        , 0.        , 0.        , 0.00079412,
        0.00276763, 0.00221384, 0.00109091, 0.00158916, 0.00330899,
        0.00120032, 0.0001446 , 0.        , 0.        , 0.00156305,
        0.        , 0.00156417, 0.00156236, 0.00156288, 0.00236158,
        0.00127413, 0.00046871, 0.00050893, 0.        , 0.00173824,
        0.00043268, 0.00120687, 0.00015028, 0.        , 0.00156145,
        0.        , 0.00156248, 0.00370908, 0.00473964, 0.00230281,
        0.        , 0.00329661, 0.00117006, 0.001104  , 0.00239778,
        0.00079918, 0.        , 0.        , 0.00156236, 0.00164471]),
 'std_fit_time': array([0.17956989, 0.0039127 , 0.00481038, 0.00531683, 0.00403031,
        0.00168958, 0.00320113, 0.00479734, 0.        , 0.00344444,
        0.00470524, 0.00442654, 0.00239991, 0.00469058, 0.00830231,
        0.00320377, 0.00319581, 0.00238656, 0.00442223, 0.00352011,
        0.00364777, 0.00338259, 0.00242214, 0.00387263, 0.00318342,
        0.00253912, 0.0035885 , 0.00342573, 0.00439222, 0.        ,
        0.00429643, 0.00374143, 0.00444089, 0.00472228, 0.00239918,
        0.        , 0.        , 0.        , 0.        , 0.00238237,
        0.00696652, 0.0038787 , 0.00327272, 0.00348124, 0.00469045,
        0.00360096, 0.0004338 , 0.        , 0.        , 0.00468915,
        0.        , 0.00469251, 0.00468707, 0.00468864, 0.00502251,
        0.0038224 , 0.00140612, 0.00152678, 0.        , 0.00385836,
        0.00129805, 0.00362062, 0.00045083, 0.        , 0.00468435,
        0.        , 0.00468743, 0.00383257, 0.00397519, 0.0038976 ,
        0.        , 0.00444661, 0.00351019, 0.00331199, 0.00366267,
        0.00239754, 0.        , 0.        , 0.00468707, 0.00466661]),
 'mean_score_time': array([0.01449387, 0.00124602, 0.00265126, 0.        , 0.00344644,
        0.0021646 , 0.00044606, 0.        , 0.00118482, 0.        ,
        0.        , 0.        , 0.        , 0.0015626 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.001665  ,
        0.        , 0.        , 0.00250101, 0.        , 0.00160422,
        0.        , 0.        , 0.00065145, 0.00053506, 0.        ,
        0.00058699, 0.        , 0.        , 0.00079939, 0.00015104,
        0.00156288, 0.        , 0.        , 0.        , 0.        ,
        0.00045791, 0.        , 0.00173032, 0.00118988, 0.        ,
        0.00080087, 0.00079947, 0.        , 0.        , 0.00156114,
        0.        , 0.        , 0.        , 0.        , 0.00147984,
        0.00119231, 0.        , 0.00166142, 0.00282881, 0.        ,
        0.00122888, 0.00160005, 0.        , 0.0015636 , 0.        ,
        0.        , 0.        , 0.00080209, 0.00183218, 0.        ,
        0.        , 0.        , 0.0010278 , 0.00224354, 0.00112181,
        0.00156312, 0.00156236, 0.        , 0.        , 0.        ]),
 'std_score_time': array([0.03603745, 0.00217308, 0.00410407, 0.        , 0.00430343,
        0.00433061, 0.00133817, 0.        , 0.00355446, 0.        ,
        0.        , 0.        , 0.        , 0.00468779, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.00353889,
        0.        , 0.        , 0.00403103, 0.        , 0.00320846,
        0.        , 0.        , 0.00195436, 0.00160518, 0.        ,
        0.00176096, 0.        , 0.        , 0.00239818, 0.00045311,
        0.00468864, 0.        , 0.        , 0.        , 0.        ,
        0.00137372, 0.        , 0.00372584, 0.00356963, 0.        ,
        0.00240262, 0.0023984 , 0.        , 0.        , 0.00468342,
        0.        , 0.        , 0.        , 0.        , 0.00369321,
        0.00357692, 0.        , 0.00362754, 0.00464031, 0.        ,
        0.00368664, 0.0032001 , 0.        , 0.00469079, 0.        ,
        0.        , 0.        , 0.00240626, 0.00296038, 0.        ,
        0.        , 0.        , 0.00205745, 0.00373583, 0.00336542,
        0.00468936, 0.00468707, 0.        , 0.        , 0.        ]),
 'param_C': masked_array(data=[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
                    1, 1, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5,
                    5, 5, 5, 5, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7,
                    7, 7, 7, 7, 7, 7, 10, 10, 10, 10, 10, 10, 10, 10, 10,
                    10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'linear', 'linear',
                    'linear', 'linear', 'linear', 'sigmoid', 'sigmoid',
                    'sigmoid', 'sigmoid', 'sigmoid', 'poly', 'poly',
                    'poly', 'poly', 'poly', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf', 'linear', 'linear', 'linear', 'linear',
                    'linear', 'sigmoid', 'sigmoid', 'sigmoid', 'sigmoid',
                    'sigmoid', 'poly', 'poly', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'rbf', 'rbf', 'linear', 'linear',
                    'linear', 'linear', 'linear', 'sigmoid', 'sigmoid',
                    'sigmoid', 'sigmoid', 'sigmoid', 'poly', 'poly',
                    'poly', 'poly', 'poly', 'rbf', 'rbf', 'rbf', 'rbf',
                    'rbf', 'linear', 'linear', 'linear', 'linear',
                    'linear', 'sigmoid', 'sigmoid', 'sigmoid', 'sigmoid',
                    'sigmoid', 'poly', 'poly', 'poly', 'poly', 'poly'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_iter': masked_array(data=[1, 5, 8, 10, 20, 1, 5, 8, 10, 20, 1, 5, 8, 10, 20, 1,
                    5, 8, 10, 20, 1, 5, 8, 10, 20, 1, 5, 8, 10, 20, 1, 5,
                    8, 10, 20, 1, 5, 8, 10, 20, 1, 5, 8, 10, 20, 1, 5, 8,
                    10, 20, 1, 5, 8, 10, 20, 1, 5, 8, 10, 20, 1, 5, 8, 10,
                    20, 1, 5, 8, 10, 20, 1, 5, 8, 10, 20, 1, 5, 8, 10, 20],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf', 'max_iter': 1},
  {'C': 1, 'kernel': 'rbf', 'max_iter': 5},
  {'C': 1, 'kernel': 'rbf', 'max_iter': 8},
  {'C': 1, 'kernel': 'rbf', 'max_iter': 10},
  {'C': 1, 'kernel': 'rbf', 'max_iter': 20},
  {'C': 1, 'kernel': 'linear', 'max_iter': 1},
  {'C': 1, 'kernel': 'linear', 'max_iter': 5},
  {'C': 1, 'kernel': 'linear', 'max_iter': 8},
  {'C': 1, 'kernel': 'linear', 'max_iter': 10},
  {'C': 1, 'kernel': 'linear', 'max_iter': 20},
  {'C': 1, 'kernel': 'sigmoid', 'max_iter': 1},
  {'C': 1, 'kernel': 'sigmoid', 'max_iter': 5},
  {'C': 1, 'kernel': 'sigmoid', 'max_iter': 8},
  {'C': 1, 'kernel': 'sigmoid', 'max_iter': 10},
  {'C': 1, 'kernel': 'sigmoid', 'max_iter': 20},
  {'C': 1, 'kernel': 'poly', 'max_iter': 1},
  {'C': 1, 'kernel': 'poly', 'max_iter': 5},
  {'C': 1, 'kernel': 'poly', 'max_iter': 8},
  {'C': 1, 'kernel': 'poly', 'max_iter': 10},
  {'C': 1, 'kernel': 'poly', 'max_iter': 20},
  {'C': 5, 'kernel': 'rbf', 'max_iter': 1},
  {'C': 5, 'kernel': 'rbf', 'max_iter': 5},
  {'C': 5, 'kernel': 'rbf', 'max_iter': 8},
  {'C': 5, 'kernel': 'rbf', 'max_iter': 10},
  {'C': 5, 'kernel': 'rbf', 'max_iter': 20},
  {'C': 5, 'kernel': 'linear', 'max_iter': 1},
  {'C': 5, 'kernel': 'linear', 'max_iter': 5},
  {'C': 5, 'kernel': 'linear', 'max_iter': 8},
  {'C': 5, 'kernel': 'linear', 'max_iter': 10},
  {'C': 5, 'kernel': 'linear', 'max_iter': 20},
  {'C': 5, 'kernel': 'sigmoid', 'max_iter': 1},
  {'C': 5, 'kernel': 'sigmoid', 'max_iter': 5},
  {'C': 5, 'kernel': 'sigmoid', 'max_iter': 8},
  {'C': 5, 'kernel': 'sigmoid', 'max_iter': 10},
  {'C': 5, 'kernel': 'sigmoid', 'max_iter': 20},
  {'C': 5, 'kernel': 'poly', 'max_iter': 1},
  {'C': 5, 'kernel': 'poly', 'max_iter': 5},
  {'C': 5, 'kernel': 'poly', 'max_iter': 8},
  {'C': 5, 'kernel': 'poly', 'max_iter': 10},
  {'C': 5, 'kernel': 'poly', 'max_iter': 20},
  {'C': 7, 'kernel': 'rbf', 'max_iter': 1},
  {'C': 7, 'kernel': 'rbf', 'max_iter': 5},
  {'C': 7, 'kernel': 'rbf', 'max_iter': 8},
  {'C': 7, 'kernel': 'rbf', 'max_iter': 10},
  {'C': 7, 'kernel': 'rbf', 'max_iter': 20},
  {'C': 7, 'kernel': 'linear', 'max_iter': 1},
  {'C': 7, 'kernel': 'linear', 'max_iter': 5},
  {'C': 7, 'kernel': 'linear', 'max_iter': 8},
  {'C': 7, 'kernel': 'linear', 'max_iter': 10},
  {'C': 7, 'kernel': 'linear', 'max_iter': 20},
  {'C': 7, 'kernel': 'sigmoid', 'max_iter': 1},
  {'C': 7, 'kernel': 'sigmoid', 'max_iter': 5},
  {'C': 7, 'kernel': 'sigmoid', 'max_iter': 8},
  {'C': 7, 'kernel': 'sigmoid', 'max_iter': 10},
  {'C': 7, 'kernel': 'sigmoid', 'max_iter': 20},
  {'C': 7, 'kernel': 'poly', 'max_iter': 1},
  {'C': 7, 'kernel': 'poly', 'max_iter': 5},
  {'C': 7, 'kernel': 'poly', 'max_iter': 8},
  {'C': 7, 'kernel': 'poly', 'max_iter': 10},
  {'C': 7, 'kernel': 'poly', 'max_iter': 20},
  {'C': 10, 'kernel': 'rbf', 'max_iter': 1},
  {'C': 10, 'kernel': 'rbf', 'max_iter': 5},
  {'C': 10, 'kernel': 'rbf', 'max_iter': 8},
  {'C': 10, 'kernel': 'rbf', 'max_iter': 10},
  {'C': 10, 'kernel': 'rbf', 'max_iter': 20},
  {'C': 10, 'kernel': 'linear', 'max_iter': 1},
  {'C': 10, 'kernel': 'linear', 'max_iter': 5},
  {'C': 10, 'kernel': 'linear', 'max_iter': 8},
  {'C': 10, 'kernel': 'linear', 'max_iter': 10},
  {'C': 10, 'kernel': 'linear', 'max_iter': 20},
  {'C': 10, 'kernel': 'sigmoid', 'max_iter': 1},
  {'C': 10, 'kernel': 'sigmoid', 'max_iter': 5},
  {'C': 10, 'kernel': 'sigmoid', 'max_iter': 8},
  {'C': 10, 'kernel': 'sigmoid', 'max_iter': 10},
  {'C': 10, 'kernel': 'sigmoid', 'max_iter': 20},
  {'C': 10, 'kernel': 'poly', 'max_iter': 1},
  {'C': 10, 'kernel': 'poly', 'max_iter': 5},
  {'C': 10, 'kernel': 'poly', 'max_iter': 8},
  {'C': 10, 'kernel': 'poly', 'max_iter': 10},
  {'C': 10, 'kernel': 'poly', 'max_iter': 20}],
 'split0_test_score': array([0.73333333, 0.86666667, 0.93333333, 1.        , 1.        ,
        0.8       , 0.93333333, 1.        , 1.        , 1.        ,
        0.33333333, 0.2       , 0.13333333, 0.13333333, 0.        ,
        0.66666667, 1.        , 0.93333333, 0.73333333, 0.93333333,
        0.73333333, 0.86666667, 0.93333333, 1.        , 1.        ,
        0.73333333, 1.        , 1.        , 1.        , 1.        ,
        0.33333333, 0.2       , 0.13333333, 0.13333333, 0.        ,
        0.66666667, 1.        , 0.93333333, 0.73333333, 0.93333333,
        0.73333333, 0.73333333, 0.93333333, 1.        , 1.        ,
        0.73333333, 1.        , 1.        , 1.        , 1.        ,
        0.33333333, 0.2       , 0.13333333, 0.13333333, 0.        ,
        0.66666667, 1.        , 0.93333333, 0.73333333, 0.93333333,
        0.73333333, 0.86666667, 1.        , 1.        , 1.        ,
        0.73333333, 0.73333333, 0.73333333, 0.93333333, 1.        ,
        0.33333333, 0.2       , 0.13333333, 0.13333333, 0.        ,
        0.66666667, 1.        , 0.93333333, 0.73333333, 0.93333333]),
 'split1_test_score': array([0.86666667, 0.86666667, 0.93333333, 1.        , 0.93333333,
        0.93333333, 0.93333333, 1.        , 0.93333333, 0.93333333,
        0.33333333, 0.13333333, 0.13333333, 0.13333333, 0.13333333,
        0.8       , 0.93333333, 0.93333333, 0.53333333, 0.8       ,
        0.86666667, 0.8       , 0.66666667, 0.93333333, 0.93333333,
        0.8       , 0.93333333, 0.93333333, 1.        , 1.        ,
        0.33333333, 0.13333333, 0.13333333, 0.13333333, 0.13333333,
        0.8       , 0.93333333, 0.93333333, 0.53333333, 0.8       ,
        0.8       , 0.73333333, 0.8       , 0.93333333, 0.93333333,
        0.8       , 1.        , 1.        , 1.        , 1.        ,
        0.33333333, 0.13333333, 0.13333333, 0.13333333, 0.13333333,
        0.8       , 0.93333333, 0.93333333, 0.53333333, 0.8       ,
        0.8       , 0.66666667, 0.73333333, 1.        , 0.93333333,
        0.8       , 0.93333333, 0.93333333, 0.93333333, 1.        ,
        0.33333333, 0.13333333, 0.13333333, 0.13333333, 0.13333333,
        0.8       , 0.93333333, 0.93333333, 0.53333333, 0.8       ]),
 'split2_test_score': array([1.        , 1.        , 0.93333333, 1.        , 1.        ,
        1.        , 1.        , 1.        , 0.93333333, 1.        ,
        0.26666667, 0.2       , 0.2       , 0.13333333, 0.13333333,
        0.6       , 0.86666667, 1.        , 0.8       , 1.        ,
        1.        , 0.93333333, 0.93333333, 1.        , 1.        ,
        0.93333333, 1.        , 1.        , 1.        , 1.        ,
        0.26666667, 0.2       , 0.2       , 0.13333333, 0.13333333,
        0.6       , 0.86666667, 1.        , 0.8       , 1.        ,
        0.93333333, 0.93333333, 1.        , 1.        , 1.        ,
        0.93333333, 1.        , 1.        , 1.        , 1.        ,
        0.26666667, 0.2       , 0.2       , 0.13333333, 0.13333333,
        0.6       , 0.86666667, 1.        , 0.8       , 1.        ,
        0.93333333, 0.93333333, 1.        , 1.        , 1.        ,
        0.93333333, 1.        , 1.        , 1.        , 1.        ,
        0.26666667, 0.2       , 0.2       , 0.13333333, 0.13333333,
        0.6       , 0.86666667, 1.        , 0.8       , 1.        ]),
 'split3_test_score': array([1.        , 1.        , 0.93333333, 0.93333333, 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ,
        0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333,
        0.66666667, 0.86666667, 0.93333333, 1.        , 0.86666667,
        1.        , 0.8       , 0.93333333, 1.        , 1.        ,
        0.93333333, 0.93333333, 0.86666667, 1.        , 1.        ,
        0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333,
        0.66666667, 0.86666667, 0.93333333, 1.        , 0.86666667,
        0.93333333, 0.73333333, 0.86666667, 0.8       , 1.        ,
        0.93333333, 1.        , 0.86666667, 0.93333333, 1.        ,
        0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333,
        0.66666667, 0.86666667, 0.93333333, 1.        , 0.86666667,
        0.93333333, 0.73333333, 1.        , 0.93333333, 1.        ,
        0.93333333, 1.        , 0.86666667, 0.86666667, 1.        ,
        0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333,
        0.66666667, 0.86666667, 0.93333333, 1.        , 0.86666667]),
 'split4_test_score': array([0.86666667, 0.86666667, 0.86666667, 0.86666667, 1.        ,
        0.86666667, 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.33333333, 0.33333333, 0.26666667, 0.26666667, 0.06666667,
        0.66666667, 0.93333333, 0.8       , 0.86666667, 0.6       ,
        0.86666667, 0.73333333, 0.86666667, 0.86666667, 0.86666667,
        0.8       , 0.93333333, 0.86666667, 0.86666667, 0.86666667,
        0.33333333, 0.33333333, 0.26666667, 0.26666667, 0.06666667,
        0.66666667, 0.93333333, 0.8       , 0.86666667, 0.6       ,
        0.8       , 0.8       , 0.86666667, 0.86666667, 0.86666667,
        0.8       , 0.93333333, 0.86666667, 0.86666667, 0.86666667,
        0.33333333, 0.33333333, 0.26666667, 0.26666667, 0.06666667,
        0.66666667, 0.93333333, 0.8       , 0.86666667, 0.6       ,
        0.8       , 0.86666667, 0.86666667, 0.86666667, 0.86666667,
        0.8       , 0.86666667, 0.86666667, 0.86666667, 0.93333333,
        0.33333333, 0.33333333, 0.26666667, 0.26666667, 0.06666667,
        0.66666667, 0.93333333, 0.8       , 0.86666667, 0.6       ]),
 'split5_test_score': array([0.86666667, 0.93333333, 0.93333333, 1.        , 0.93333333,
        0.86666667, 1.        , 1.        , 0.86666667, 1.        ,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.        ,
        0.66666667, 0.93333333, 0.8       , 0.8       , 0.86666667,
        0.86666667, 0.93333333, 1.        , 0.93333333, 1.        ,
        0.73333333, 0.93333333, 0.73333333, 1.        , 1.        ,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.        ,
        0.66666667, 0.93333333, 0.8       , 0.8       , 0.86666667,
        0.73333333, 0.86666667, 0.73333333, 1.        , 1.        ,
        0.73333333, 0.93333333, 0.8       , 1.        , 0.93333333,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.        ,
        0.66666667, 0.93333333, 0.8       , 0.8       , 0.86666667,
        0.73333333, 0.8       , 0.86666667, 1.        , 1.        ,
        0.73333333, 0.93333333, 0.8       , 1.        , 0.93333333,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.        ,
        0.66666667, 0.93333333, 0.8       , 0.8       , 0.86666667]),
 'split6_test_score': array([0.93333333, 0.93333333, 0.93333333, 0.93333333, 0.93333333,
        0.93333333, 0.93333333, 0.86666667, 0.93333333, 0.93333333,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.13333333,
        0.66666667, 0.8       , 0.93333333, 0.93333333, 0.86666667,
        0.93333333, 0.73333333, 0.93333333, 0.93333333, 0.93333333,
        0.93333333, 0.86666667, 0.8       , 0.93333333, 0.93333333,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.13333333,
        0.66666667, 0.8       , 0.93333333, 0.93333333, 0.86666667,
        0.93333333, 0.8       , 0.86666667, 0.93333333, 0.93333333,
        0.93333333, 0.8       , 0.8       , 0.8       , 0.93333333,
        0.33333333, 0.33333333, 0.2       , 0.2       , 0.13333333,
        0.66666667, 0.8       , 0.93333333, 0.93333333, 0.86666667,
        0.93333333, 0.8       , 0.73333333, 0.93333333, 0.93333333,

In [31]:
pd.DataFrame(clf.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,param_max_iter,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.065443,0.179570,0.014494,0.036037,1,rbf,1,"{'C': 1, 'kernel': 'rbf', 'max_iter': 1}",0.733333,0.866667,...,1.000000,0.866667,0.866667,0.933333,0.933333,1.000000,0.933333,0.913333,0.079162,30
1,0.004196,0.003913,0.001246,0.002173,1,rbf,5,"{'C': 1, 'kernel': 'rbf', 'max_iter': 5}",0.866667,0.866667,...,1.000000,0.866667,0.933333,0.933333,0.933333,1.000000,1.000000,0.940000,0.055377,21
2,0.001603,0.004810,0.002651,0.004104,1,rbf,8,"{'C': 1, 'kernel': 'rbf', 'max_iter': 8}",0.933333,0.933333,...,0.933333,0.866667,0.933333,0.933333,1.000000,1.000000,1.000000,0.946667,0.040000,20
3,0.004267,0.005317,0.000000,0.000000,1,rbf,10,"{'C': 1, 'kernel': 'rbf', 'max_iter': 10}",1.000000,1.000000,...,0.933333,0.866667,1.000000,0.933333,1.000000,1.000000,1.000000,0.973333,0.044222,3
4,0.003952,0.004030,0.003446,0.004303,1,rbf,20,"{'C': 1, 'kernel': 'rbf', 'max_iter': 20}",1.000000,0.933333,...,1.000000,1.000000,0.933333,0.933333,1.000000,1.000000,1.000000,0.980000,0.030551,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,0.000799,0.002398,0.001563,0.004689,10,poly,1,"{'C': 10, 'kernel': 'poly', 'max_iter': 1}",0.666667,0.800000,...,0.666667,0.666667,0.666667,0.666667,0.666667,0.600000,0.600000,0.660000,0.055377,57
76,0.000000,0.000000,0.001562,0.004687,10,poly,5,"{'C': 10, 'kernel': 'poly', 'max_iter': 5}",1.000000,0.933333,...,0.866667,0.933333,0.933333,0.800000,0.866667,1.000000,0.866667,0.906667,0.061101,33
77,0.000000,0.000000,0.000000,0.000000,10,poly,8,"{'C': 10, 'kernel': 'poly', 'max_iter': 8}",0.933333,0.933333,...,0.933333,0.800000,0.800000,0.933333,0.933333,1.000000,1.000000,0.926667,0.069602,24
78,0.001562,0.004687,0.000000,0.000000,10,poly,10,"{'C': 10, 'kernel': 'poly', 'max_iter': 10}",0.733333,0.533333,...,1.000000,0.866667,0.800000,0.933333,0.933333,0.866667,0.866667,0.833333,0.123828,48
79,0.001645,0.004667,0.000000,0.000000,10,poly,20,"{'C': 10, 'kernel': 'poly', 'max_iter': 20}",0.933333,0.800000,...,0.866667,0.600000,0.866667,0.866667,0.933333,1.000000,1.000000,0.886667,0.115662,40

In [32]:
clf.best_score_

0.9800000000000001

In [33]:
clf.best_params_

{'C': 1, 'kernel': 'rbf', 'max_iter': 20}

In [34]:
from sklearn.model_selection import RandomizedSearchCV

In [46]:
clf = RandomizedSearchCV(svm.SVC(gamma='auto'),{'C':[1,5,7,10],'kernel':['rbf','linear','sigmoid','poly'],
                                         'max_iter':[1,5,8,10,20]},cv=10,n_iter=5)
clf.fit(iris.data,iris.target)
clf.cv_results_

{'mean_fit_time': array([0.00159907, 0.00152683, 0.00248287, 0.001565  , 0.00156252]),
 'std_fit_time': array([0.00319815, 0.0045805 , 0.00516057, 0.00469501, 0.00468757]),
 'mean_score_time': array([0., 0., 0., 0., 0.]),
 'std_score_time': array([0., 0., 0., 0., 0.]),
 'param_max_iter': masked_array(data=[5, 1, 5, 5, 1],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'poly', 'linear', 'poly', 'poly'],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[5, 5, 7, 10, 7],
              mask=[False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'max_iter': 5, 'kernel': 'linear', 'C': 5},
  {'max_iter': 1, 'kernel': 'poly', 'C': 5},
  {'max_iter': 5, 'kernel': 'linear', 'C': 7},
  {'max_iter': 5, 'kernel': 'poly', 'C': 10},
  {'max_iter': 1, 'kernel': 'poly', 'C': 7}],
 'split0_test_score': array([1.        , 0.66666667, 1.        , 1.        , 0.66666667]),
 'split1_test_score': array([0.93333333, 0.8       , 1.        , 0.93333333, 0.8       ]),
 'split2_test_score': array([1.        , 0.6       , 1.        , 0.86666667, 0.6       ]),
 'split3_test_score': array([0.93333333, 0.66666667, 1.        , 0.86666667, 0.66666667]),
 'split4_test_score': array([0.93333333, 0.66666667, 0.93333333, 0.93333333, 0.66666667]),
 'split5_test_score': array([0.93333333, 0.66666667, 0.93333333, 0.93333333, 0.66666667]),
 'split6_test_score': array([0.86666667, 0.66666667, 0.8       , 0.8       , 0.66666667]),
 'split7_test_score': array([0.93333333, 0.66666667, 0.86666667, 0.86666667, 0.66666667]),
 'split8_test_score': array([1. , 0.6, 1. , 1. , 0.6]),
 'split9_test_score': array([1.        , 0.6       , 1.        , 0.86666667, 0.6       ]),
 'mean_test_score': array([0.95333333, 0.66      , 0.95333333, 0.90666667, 0.66      ]),
 'std_test_score': array([0.04268749, 0.05537749, 0.06699917, 0.06110101, 0.05537749]),
 'rank_test_score': array([1, 4, 1, 3, 4])}

In [36]:
pd.DataFrame(clf.cv_results_)

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_max_iter,param_kernel,param_C,params,split0_test_score,split1_test_score,...,split3_test_score,split4_test_score,split5_test_score,split6_test_score,split7_test_score,split8_test_score,split9_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002362,0.005023,0.003553,0.005689,20,poly,7,"{'max_iter': 20, 'kernel': 'poly', 'C': 7}",0.933333,0.800000,...,0.866667,0.600000,0.866667,0.866667,0.933333,1.000000,1.000000,0.886667,0.115662,2
1,0.002708,0.004213,0.000802,0.002405,8,sigmoid,7,"{'max_iter': 8, 'kernel': 'sigmoid', 'C': 7}",0.133333,0.133333,...,0.333333,0.266667,0.200000,0.200000,0.200000,0.200000,0.200000,0.206667,0.055377,5
2,0.001598,0.003195,0.000800,0.002401,1,rbf,10,"{'max_iter': 1, 'kernel': 'rbf', 'C': 10}",0.733333,0.800000,...,0.933333,0.800000,0.733333,0.933333,0.800000,0.933333,0.666667,0.826667,0.095219,3
3,0.001599,0.003197,0.000800,0.002400,20,rbf,7,"{'max_iter': 20, 'kernel': 'rbf', 'C': 7}",1.000000,0.933333,...,1.000000,0.866667,1.000000,0.933333,1.000000,1.000000,1.000000,0.973333,0.044222,1
4,0.000800,0.002399,0.000000,0.000000,5,sigmoid,1,"{'max_iter': 5, 'kernel': 'sigmoid', 'C': 1}",0.200000,0.133333,...,0.333333,0.333333,0.333333,0.333333,0.266667,0.200000,0.200000,0.253333,0.071802,4

In [37]:
clf.best_params_

{'max_iter': 20, 'kernel': 'rbf', 'C': 7}

In [38]:
clf.best_score_

0.9733333333333334

In [39]:
from sklearn.ensemble import RandomForestClassifier

In [40]:
model_params = {
    'svm': {'model': svm.SVC(gamma='auto'),'params':{'C':[1,10,15,20,25,30,50,100],'kernel':['rbf','linear']}},
    'randomforest' : {'model': RandomForestClassifier(),'params':{'n_estimators':[1,5,10,20,50]}},
    'LogisticRegression':{'model': LogisticRegression(),'params':{'C':[1,10,15,20,25,30,50,100]}}
    
}

In [41]:
scores = []
for model_name,mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'],cv=10)
    clf.fit(iris.data,iris.target)
    scores.append({
        'model':model_name,
        'best_score': clf.best_score_,
        'best_params':clf.best_params_
        
    })
dfinal = pd.DataFrame(scores,columns=['model','best_score','best_params'])
dfinal

                model  best_score                best_params
0                 svm    0.980000  {'C': 1, 'kernel': 'rbf'}
1        randomforest    0.960000       {'n_estimators': 10}
2  LogisticRegression    0.986667                  {'C': 10}

In [47]:
# any 5 algorithms suitable for this peroblem

In [43]:
from sklearn import datasets
digits = datasets.load_digits()

In [44]:
digits.data

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [45]:
digits.target

array([0, 1, 2, ..., 8, 9, 8])